<div class="card">
  <h5 class="card-header">Ficha técnica</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">PlayStation 4 (プレイステーション4 Pureisutēshon Fō?, oficialmente abreviada como PS4) es la cuarta videoconsola del modelo PlayStation.8​ Forma parte de las videoconsolas de octava generación. Fue anunciada oficialmente el 20 de febrero de 2013 en el evento PlayStation Meeting 2013,9​ aunque el diseño de la consola no fue presentado hasta el 10 de junio en el E3 2013.10​ Es la sucesora de la PlayStation 3 y compite con Wii U y Switch de Nintendo y Xbox One de Microsoft. Su lanzamiento fue el 15 de noviembre de 2013 en Estados Unidos y en Europa y Sudamérica fue el 29 de noviembre de 2013,11​9​ mientras que en Japón fue el 22 de febrero de 2014.2​

Alejándose de la compleja arquitectura utilizada en el procesador Cell de la videoconsola PlayStation 3, la PlayStation 4 cuenta con un procesador AMD de 8 núcleos bajo la arquitectura x86-64. Estas instrucciones x86-64 están diseñados para hacer más fácil el desarrollo de videojuegos en la consola de nueva generación, que atrae a un mayor número de desarrolladores. Estos cambios ponen de manifiesto el esfuerzo de Sony para mejorar las lecciones aprendidas durante el desarrollo, la producción y el lanzamiento de la PS3. Otras características de hardware notables de la PS4 es que incluyen 8 GB de memoria unificada GDDR5, una unidad de disco Blu-ray Disc más rápido, y los chips personalizados dedicados a tareas de procesamiento de audio, vídeo y de fondo. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!--<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="..." alt="Playstation 4">
  <div class="card-body">
    <h5 class="card-title">Playstation 4</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="card-body">
    <li href="hola" class="list-group-item" >
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>

  </ul>
  <div class="card-body">
    <a class="card-link" [routerLink] = "['consolas']">Card link</a>
  </div>
</div>-->
