

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Asesoría legal</div>
        <div class="intro-heading text-uppercase">Nombre de la asesoría legal</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/user/revisiones" (click)="crearRevision()">Comprar</a>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">ventajas de nuestro servicio</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Ventaja 1</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Ventaja 2</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Ventaja 3</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="description">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">descripción de la asesoría</h2>
        </div>
      </div>
      <div class="row text-center">
          <h2 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam in arcu cursus euismod quis viverra nibh. Dictum at tempor commodo ullamcorper a lacus vestibulum. Vitae aliquet nec ullamcorper sit amet risus nullam. Nunc vel risus commodo viverra. Tincidunt id aliquet risus feugiat in. Consequat id porta nibh venenatis cras. Elit at imperdiet dui accumsan sit. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Nunc congue nisi vitae suscipit. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. Euismod quis viverra nibh cras pulvinar mattis nunc.</h2>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger container" (click)="ejemploPDF()">Comprar</a>
      </div>

  </section>
